* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	&:before {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}
	&:after {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}
}

.grid-plan{
    display: grid;
    grid-template-columns: 20% 75%;
    grid-template-rows: 200px 75px;
}

.login {
    padding: 0px;
    margin: 0px;
}

.descripcion-plan {
    position: relative;
    padding: 6rem;
    font-family: $fuenteTitulo;
    background-color: $rojo_rimac;
    height: 320px;
    border-radius: 0px 0px 100px 0px;
    &__familia {
        position: absolute;
        margin-left: 10rem;
        margin-left: 2rem;
        margin-top: -15px;
    }
    &__familia img {
        max-width: 250px;
    }
    &__logo {
        margin-top: -5rem;
        margin-bottom: 3rem;
    }
    &__titulo {
        font-family: $fuenteTitulo;
        color: $blanco-rimac;
        margin: 35px 0;
        font-weight: 100;
        font-size: 40px;
    }
    &__titulo span{
        font-weight: 900;
    }
    &__lista {
        padding: 0rem;
        color: $blanco-rimac;
    }
    & ul {
        margin-bottom: 4rem;
    }
    &__lista li {
        padding: .8rem .8rem .8rem 0rem;
        list-style: none;
        font-family: $fuenteSubtitulo;
        font-weight: 300;
    }
    &__lista img {
        margin-right: 12px;
    }
    &__derechos{
        color: $blanco-rimac;
        margin-top: 6rem;
        font-family: $fuenteSubtitulo;
        font-weight: 300;
    }
}



.formulario-plan {
    display: grid;
    grid-template-columns: 70%;
    margin-left: 10rem;
    justify-content: end;
    margin-right: 10rem;
    margin-top: 3rem;
    &__titulo{
        margin-bottom: 0px;
        font-family: $fuenteTitulo;
        font-size: 25px;
    }
    &__subtitulo{
        margin-top: 5px;
        font-weight: 300;
    }
    &__color {
        color: $rojo_rimac;
    }

}

.formulario-plane__form {
    justify-self: self-start;
    &__datos {
        margin-top: 3rem;
        font-weight: 100;
        font-size: 20px;
    }
    &__checkbox label{
        font-family: $fuenteSubtitulo;
        font-weight: 400;
        font-size: 12px;
        margin-left: 10px;
    }
    &__checkbox a::before{
        text-decoration:solid;
    }
    &__input input{
        max-width: 380px;
        width: 100%;
        height: 50px;
        border-radius: 5px;
        border: 1px solid #C5CBE0;
        display: grid;
        grid-template-columns: 15% 85%;
        padding: 0 .4rem;
        margin: 15px auto;
    }
    &__genero {
        font-family: $fuenteSubtitulo;
        font-weight: 300;
        font-size: 16px;
        color: #494F66;
        ;
    }
    &__checkbox {
        margin: 15px 0px 15px 0px;
        color: #494F66;
        ;
    }
    &__table {
        font-family: $fuenteSubtitulo;
        font-weight: 300;
        font-size: 16px;
        color: #494F66;
        margin: 2rem 0px;
    }
    &__btn input{
        width: 200px;
        height: 50px;
        outline: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: $blanco-rimac;
        color: #C5CBE0;
        text-transform: uppercase;
        font-weight: 600;
        margin: 10px 0;
        transition: .5s;
        font-family: $fuenteTitulo;
        border: 3px solid #F0F2FA;
    }
    &__btn input:hover {
        background-color: $rojo_rimac;
        border: none;
        color: $blanco-rimac;
    }
}

.formulario-plan__form__tb {
    &__headtb tr th{
        border: 1px solid #D4D5E8;
        padding: 6px;
        margin-bottom: 5px;
    }
    &__bodytb tr td{
        padding: 1rem;
    }
    &__bodytb tr td a{
        text-decoration: none;
        text-transform: uppercase;
    }
}

.formulario-plan__form__btn {
    text-align: end;
}

.formulario-plan__select {
    display: flex;
    margin-top: 2rem;
    &__uno, &__dos, &__tres, &__cuatro {
        border: 1px solid #F0F2FA;
        width: 100px;
        border-radius: 10px;
        margin: 5px;
        padding: 20px 15px;
        cursor: pointer;
        font-family: $fuenteSubtitulo;
        font-weight: 400;
        font-size: 10px;
    }
    &__uno:hover, &__dos:hover, &__tres:hover, &__cuatro:hover {
        border: 1px solid #83CC5E;
    }
    &__tipo {
        font-family: $fuenteSubtitulo;
        text-transform: uppercase;
    }
    &__costo {
        font-family: $fuenteSubtitulo;
        font-weight: 400;
        font-size: 28px;
        padding: 6px 0;
    }
    &__texto {
        font-family: $fuenteSubtitulo;
    }
}

.formulario-plan__resumen {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    border-bottom: 1px solid #676F8F;
    padding-bottom: 2rem;
    &__asegurados {
        color: #676F8F;
        font-family: $fuenteSubtitulo;
        font-weight: 300;
        font-size: 14px;
    }
    &__resumen {
        color: #676F8F;
        text-transform: uppercase;
        font-family: $fuenteSubtitulo;
        font-weight: 300;
        font-size: 14px;
    }
    &__plan {
        margin-top: 5rem;
        color: #676F8F;
        text-transform: uppercase;
        font-family: $fuenteSubtitulo;
        font-weight: 300;
        font-size: 14px;
    }
}

.formulario-plan__beneficio {
    border: 2px solid #F0F2FA;
    margin-top: 30px;
    width: 455px;
    &__titulo {
        padding: 10px;
        align-content: center;
        text-align-last: center;
        border: 1px solid #F0F2FA;
        background-color: #F0F2FA;
    }
}

.formulario-plan__beneficio__banner {
    display: flex;
    padding: 1.2rem;
    border-bottom: 1px solid #676F8F;
    &__primera {
        padding: 1rem 0;
        &__cob {
            font-family: $fuenteTitulo;
            font-weight: 400;
            font-size: 16px;
            padding: 6px 0;
        }
        &__costo {
            font-family: $fuenteTitulo;
            font-weight: 400;
            font-size: 16px;
            padding: 6px 0;
        }
        &__plan {
            font-family: $fuenteSubtitulo;
            font-weight: 700;
            font-size: 10px;
            padding: 6px 0;
            border: 1px solid #83CC5E;
            border-radius: 20px;
            text-align: center;
            text-transform: uppercase;
            background-color: #83CC5E;
            color: $blanco-rimac;
            cursor: pointer;
        }
    }
    &__img {
        padding: 1rem 0;
        margin-left: 14rem;
    }
}

.formulario-plan__beneficio__corazon {
    &__interna {
        display: flex;
        padding: 1rem;
        color: #494F66;
    }
    &_interna__text1 {
        margin-left: 6px;
        font-family: $fuenteSubtitulo;
        font-weight: 400;
        font-size: 20px;
        color: #494F66;
    }
    &_interna__text2 {
        font-family: $fuenteSubtitulo;
        font-weight: 400;
        font-size: 12px;
        color: #494F66;
        place-self: center;
    }
    &_interna__text3 {
        margin-left: 6px;
        text-decoration:line-through;
        font-family: $fuenteSubtitulo;
        font-weight: 300;
        font-size: 14px;
        color: #494F66;
    }
}

.formulario-plan__btn input{
        width: 200px;
        height: 50px;
        outline: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: $rojo-rimac;
        color: #C5CBE0;
        text-transform: uppercase;
        font-weight: 600;
        margin: 10px 0;
        transition: .5s;
        font-family: $fuenteTitulo;
        border: 3px solid #F0F2FA;
}

.formulario-plan__btn input:hover {
    background-color: $rojo_rimac;
    border: none;
    color: $blanco-rimac;
}



.card-container {
	font-family: 'Poppins',sans-serif;
	color: #2c2c51;
	height: 10rem;
	width: 40rem;
	display: flex;
    margin-right: 4rem;
}
.card {
	height: 150px;
	width: 150px;
	position: relative;
    margin-left: 10px
}
.card input[type="radio"] {
	-webkit-appearance: none;
	appearance: none;
	background-color: white;
	height: 100%;
	width: 100%;
	border-radius: 10px;
	position: absolute;
	box-shadow: 7px 7px 15px rgba(2,28,53,0.08);
	cursor: pointer;
	outline: none;
	&:before {
		content: "";
		position: absolute;
		height: 22px;
		width: 22px;
		background-color: #f9fafd;
		border: 1px solid #e2e6f3;
		border-radius: 50%;
		top: 35px;
		right: 20px;
	}
	&:after {
		content: "";
		position: absolute;
		height: 13px;
		width: 13px;
		background-color: transparent;
		border-radius: 50%;
		top: 39.5px;
		right: 24.5px;
	}
	&:hover {
		transform: scale(1.05);
	}
	&:checked {
		border: 3px solid #83CC5E
        ;
		&:after {
			background-color: #83CC5E
            ;
		}
	}
}
.card label {
	position: absolute;
	margin: 20px;
	cursor: pointer;
}
.card h5 {
	font-size: 15px;
	letter-spacing: 0.5px;
	margin: 15px 0 20px 0;
}
.card h2 {
	font-size: 20px;
}
.card span {
	font-weight: 400;
	font-size: 18px;
	color: #7b7b93;
}
